# MQTT
MQTT_SERVER=your_mqtt_server
MQTT_PORT=your_mqtt_port
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password
MQTT_TOPIC=your_mqtt_topic

# Database 
DB_HOST=your_db_server
DB_PORT=your_db_port
DB_DATABASE=your_db_name
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
