[Unit]
Description=MQTT Forward Consumer Generic %i
After=network.target redis-server.service
Wants=redis-server.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mqtt-radars
ExecStart=/usr/bin/php forward-consumer.php --exclude=1001,2004,2103,2137
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
